---
import { Breadcrumbs } from 'astro-breadcrumbs'
import 'astro-breadcrumbs/breadcrumbs.css'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import Pricing from '../../../components/Pricing.astro'
import Layout from '../../../layouts/Layout.astro'
import { fetchAPI } from '../../../wordpress'
const customCrumbs = [
  {
    text: 'Главная',
    href: '/',
  },
  {
    text: 'Выполненные проекты',
    href: '/projects',
  },
];

const data = await fetchAPI({
  query: `
  query projects {
    categories {
      nodes { name slug }
    }
    projects {
      nodes {
        title slug excerpt
        featuredImage {
          node { mediaItemUrl }
        }
        categories {
        nodes {  slug  name  } }
      }
    }
  } 
  `,
});

const { category } = Astro.params;

const projects = data.projects.nodes.filter(item => item.categories.nodes[0].slug === category);
const categories = data.categories.nodes.filter((category) => category.slug !== 'без-рубрики');
---

<Layout title="title">
  <div class="bg-[#F0F0F0]">
    <div class="container pt-9 pb-14 sm:pb-32">
      <div class="mb-16 sm:mb-24">
        <Breadcrumbs crumbs={customCrumbs} />
      </div>
      <div class="flex-stack items-start mb-14 md:mb-24">
        <div>
          <h2 class="section-title mb-3">Выполненные проекты</h2>
          <h3 class="text-xl sm:text-3xl uppercase text-[#56585E] font-extrabold flex items-start gap-3">
            <Icon name="marks" class="size-8" />
             Наплавляемая кровля
          </h3>
        </div>
        <a href="#" class="text-[#9EA1AB] font-semibold text-nowrap shrink-0 hidden md:block text-end">[ Работы по всей <br /> России ]</a>
      </div>
      <nav class="mb-10 sm:mb-14">
        <ul class="grid grid-cols-2 gap-2 items-stretch sm:flex flex-wrap">
          {
            categories.map((item) => (
              <li>
                <a
                  href={item.slug}
                  class={`py-2 px-3 sm:py-5 sm:px-7 h-full flex items-center gap-2
                  text-[12px] sm:text-base rounded font-bold uppercase hover:bg-primary 
                  hover:text-white transition-colors ${item.slug == category ? 'bg-primary text-white' : 'bg-white'}`}>
                  {item.name}
                  {item.slug == category && <Icon name="arrow-right" class="size-5" />}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>

      <ul class="grid sm:grid-cols-2 lg:grid-cols-3 gap-y-5 gap-x-5 sm:gap-y-10">
        {
          projects.map((project) => (
            <li class="flex flex-col items-center bg-white gap-5 p-5 rounded-lg">
              <Image src={project.featuredImage.node.mediaItemUrl} width={360} height={266} alt={project.title} />
              <span class="font-bold uppercase text-center">{project.title}</span>
              <div class="text-[#848898] text-center">
                <Fragment set:html={project.excerpt} />
              </div>
              <a href={project.slug} class="button text-[#1D1D21] hover:bg-primary mt-auto bg-[#F4F3F4] hover:text-white transition-colors">
                подробнее
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <Pricing />
  </div>
</Layout>
