---
import { Breadcrumbs } from 'astro-breadcrumbs';
import 'astro-breadcrumbs/breadcrumbs.css';
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
const customCrumbs = [
  { text: 'Главная', href: '/' },
  { text: 'Новости', href: '/news' },
];
const NewsItems = [
  {
    url: import('../assets/news/1.png'),
    title: 'Мы в составе жюри международного конкурса "Лучший кровельщик 2022"',
    descr: 'Генерального директора включили в состав жюри международного конкурса "Лучший кровельщик 2022".',
  },
  {
    url: import('../assets/news/2.png'),
    title: 'Мы в составе жюри международного конкурса "Лучший кровельщик 2022"',
    descr: 'Генерального директора включили в состав жюри международного конкурса "Лучший кровельщик 2022".',
  },
  {
    url: import('../assets/news/3.png'),
    title: 'Мы в составе жюри международного конкурса "Лучший кровельщик 2022"',
    descr: 'Генерального директора включили в состав жюри международного конкурса "Лучший кровельщик 2022".',
  },
  {
    url: import('../assets/news/4.png'),
    title: 'Мы в составе жюри международного конкурса "Лучший кровельщик 2022"',
    descr: 'Генерального директора включили в состав жюри международного конкурса "Лучший кровельщик 2022".',
  },
  {
    url: import('../assets/news/1.png'),
    title: 'Мы в составе жюри международного конкурса "Лучший кровельщик 2022"',
    descr: 'Генерального директора включили в состав жюри международного конкурса "Лучший кровельщик 2022".',
  },
  {
    url: import('../assets/news/2.png'),
    title: 'Мы в составе жюри международного конкурса "Лучший кровельщик 2022"',
    descr: 'Генерального директора включили в состав жюри международного конкурса "Лучший кровельщик 2022".',
  },
  {
    url: import('../assets/news/3.png'),
    title: 'Мы в составе жюри международного конкурса "Лучший кровельщик 2022"',
    descr: 'Генерального директора включили в состав жюри международного конкурса "Лучший кровельщик 2022".',
  },
  {
    url: import('../assets/news/4.png'),
    title: 'Мы в составе жюри международного конкурса "Лучший кровельщик 2022"',
    descr: 'Генерального директора включили в состав жюри международного конкурса "Лучший кровельщик 2022".',
  },
];
---

<Layout title="News">
  <div class="bg-[#F0F0F0]">
    <div class="container pt-9 pb-14 sm:pb-32">
      <div class="mb-16 sm:mb-24">
        <Breadcrumbs crumbs={customCrumbs} />
      </div>
      <div class="flex-stack items-start mb-8">
        <div>
          <h2 class="section-title mb-3">Новости</h2>
        </div>
        <span class="text-[#9EA1AB] font-semibold text-nowrap shrink-0 hidden md:block">[ О самом важном ]</span>
      </div>
      <ul class="grid xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-5 gap-y-[60px]">
        {
          NewsItems.map((item) => (
            <li class="xs:max-w-[300px] flex flex-col items-start">
              <Image src={item.url} alt={item.title} quality={100} class="mb-[30px] h-[240px] sm:h-auto object-cover rounded-lg w-full" />
              <h3 class="text-lg uppercase font-bold text-black mb-2">{item.title}</h3>
              <p class="text-[#656A7C] text-sm mb-[20px]">{item.descr}</p>
              <a href="#" class="button bg-white transition-colors text-[#1D1D21] hover:bg-primary hover:text-white">
                подробнее
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Layout>
